{{ define "header" }}
<header>
    <div class="title">{{ .Title }}</div>
    <nav class="nav-links">
        <a href="/admin/boards">Boards</a>
        <a href="/admin/notifiers">Notifiers</a>
    </nav>
</header>
{{ end }}