{{ define "content" }}
    <u1>
        {{ range .Users }}
            <li>{{ .EmailAddress }}</li>
        {{ else }}
            <li>No users found</li>
        {{ end }}
    </u1>
{{ end }}
{{ template "layout" . }}
